:root {
    /* background-color */
    --color-bg-primary: #524433;
    --color-bg-secondary: #EFEDE9;
    --color-bg-black: #000000;
    --color-bg-white: #FFFFFF;

    /* border */
    --color-border-black: #000000;
    --color-border-white: #FFFFFF;

    /* Font */
    --color-font-primary: #524433;
    --color-font-white: #FFFFFF;
    --color-font-base: #000000;

    /* width */
    --width-content: 1080px;
    --width-content-s: 960px;
    --width-content-l: 1200px;

    /* font */
    --font-en: 'Montserrat', sans-serif;
    --font-jp: 'Noto Sans JP', sans-serif;
}

/* リセットCSS */
html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    *font-size: 100%;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: 16px;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: #000;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* サイト全体設定 */
body {
    line-height: 1.8;
    font-size: 16px;
    color: var(--color-font-base);
    font-family: var(--font-en);
    font-family: var(--font-jp);
}

/* レイアウト */
.l-container {
    max-width: var(--width-content);
    width: 90%;
    margin: 0 auto;
}

/* コンポーネント */
.c-button {
    border: 1px solid var(--color-bg-primary);
    background-color: var(--color-bg-primary);
    color: var(--color-font-white);
    padding: 15px;
    width: 240px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 48px;
    margin-bottom: 80px;
}

.c-button--black {
    background-color: var(--color-bg-black);
    border: 1px solid var(--color-border-black);
}

.c-button--white {
    background-color: var(--color-bg-white);
    border: 1px solid var(--color-border-white);
}

.c-button::after {
    border-right: 3px solid var(--color-border-white);
    transform: rotate(90deg);
    right: 20px;
}

.sec-title {
    font-size: 28px;
    color: var(--color-font-base);
    text-align: center;
    margin-top: 64px;
    margin-bottom: 48px;
}

/* ヘッダー */
.header {
    padding: 20px 30px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 190px;
}

.header-menu {
    display: flex;
}

.header-menu-inner {
    display: flex;
    align-items: center;
}

.header-menu-item {
    margin-right: 30px;
}

/* コンセプト */
.concept-text-wrapper {
    margin-top: 40px;
    text-align: center;
}

/* メニュー */

.bg-menu {
    background-image: url(../img/bg-top-menu.jpg);
    height: 700px;
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

.menu-item {
    display: flex;
    color: var(--color-font-white);
}

.table-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ショップリスト */
.shop-list {
    text-align: center;
}

.shop-about {
    color: var(--color-font-primary);
    margin-bottom: 30px;
}

.shop-list-button-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.shop-list-button {
    width: 32%;
    margin: 5px;
    padding: 13px;
    border-radius: 40px;
    background-color: var(--color-bg-secondary);
}

.bottom-kv {
    background-image: url(../img/bg-top-separate.jpg);
    background-size: cover;
    background-position: center center;
    height: 600px;
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
}

/* BLOG&NEWS */
.post-items {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.post-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.img-adjust {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

/* instagram */
.instagram {
    background-color: var(--color-bg-secondary);
    margin: 5px calc(50% - 50vw) 15px;
    width: 100vw;
    padding: 20px;
}

.instagram-img {
    display: flex;
}